html, body {
  margin: 0;
  padding: 0;
}


/* ============================================== */
/* Style Guide */
/* ============================================== */

:root {
  --primary-background: #6C6E8C;
  --secondary-background: #F6F6F9;
  --primary-font: #0FF2B2;
  --secondary-font: #05F283;
  --paragraph-family: Arial, Helvetica, sans-serif;
}

hr {
  width: 100px;
  height: 5px;
  background-color: var(--primary-font);
  border: none;
  margin: 1.5em auto;
}

h3, h4 {
  font-size: 2em;
  font-style: italic;
  font-weight: 700;
  line-height: 0;
  color: var(--primary-font);
}

h3 {
  text-align: center;
  color: var(--primary-background);
  margin: 1.5em;
  text-transform: uppercase;
}

/* ============================================== */
/* Header Section */
/* ============================================== */

/* ============================================== */
/* Heroes Section */
/* ============================================== */

/* ============================================== */
/* Cookie Section */
/* ============================================== */

/* Container */

#cookie {
  width: 80%;
  margin: 0 auto;
}

.slider-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Card */

.card {
  background-color: var(--primary-background);
  width: 30%;
  height: 600px;
  margin: 1.66%;
  box-sizing: border-box;
  display: none;
}

.card img {
  width: 100%;
  height: 50%;
}

.card .content {
  padding: 10px 20px;
}

/* Font */

.content p {
  font-family: var(--paragraph-family);
  line-height: 1.5;
  color: #ffffff;
}

/* Display */

.display {
  display: block;
}

/* ============================================== */
/* About Section */
/* ============================================== */

/* ============================================== */
/* Contributors Section */
/* ============================================== */
#contributors-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 90%;
margin: auto;
justify-content: space-around;
}

.contributors {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background);
  width: 18%;
  margin-bottom: 3%;
}

.contributors img {
  width: 100%;
}

.contributors-info {
  padding: 0 10%;
  line-height: 1.5;
  color: #ffffff;
}

.contributors-info p {
  font-family: var(--paragraph-family);
}

/* ============================================== */
/* Join Us Section */
/* ============================================== */